 .navbar{
            background-color:brown;
            padding: 15px 30px;
            width: 100%
        }
        .nav-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%
        }
        .logo{
            color: white;
            font-size: 26px;
            font-weight: bold;
        }
        .nav-menu {
            display: flex;
            list-style: none;
            gap: 30px;
        }
        .nav-link{
            color: white;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
        }
        .signup-button{
            color: red;
            font-weight: bold;
            padding: 5px;
            font-size: 18px;
            background-color: black;
            border-radius: 15px;
            border: none;
        }
        .signup-button:hover{
            background-color: black;
            color: white;
        }
        .nav-link:hover{
            background-color: black;
            padding: 10px;
            border-radius: 15px;
        }
        .mine{

            justify-content: center;
            display:inline-block;
            justify-content:space-between;


        }